---
import Layout from "../layouts/Layout.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import profileData from "../../profile.yaml";
import type { Profile } from "../types/profile";

const profile = profileData as Profile;

const workExperiences = [...profile.workExperiences].sort(
  (a, b) => new Date(b.startDate).valueOf() - new Date(a.startDate).valueOf()
);
---

<Layout title="Experiences" description="Where I've worked and what I've built.">
  <div class="flex flex-col gap-6 mt-6">
    {workExperiences.map((exp) => <ExperienceCard {...exp} />)}
  </div>
</Layout>
